{% extends "layout.html.twig" %}

{% block body %}
    <h1>Отзыв</h1>

    <div class="row form-group">
        <label class="col-sm-2">Дата публикации
        </label>

        <div class="col-sm-5">
            {{ book.publicationAt|date('Y-m-d H:i') }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">Имя автора
        </label>

        <div class="col-sm-5">
            {{ book.authorName }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">IP адрес автора
        </label>

        <div class="col-sm-5">
            {{ book.authorIp }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">Текст отзыва
        </label>

        <div class="col-sm-5">
            {{ book.message }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">Кол-во лайков
        </label>

        <div class="col-sm-5">
            {{ book.likesCount }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">ИД записи
        </label>

        <div class="col-sm-5">
            {{ book.id }}
        </div>
    </div>
    <div class="row form-group">
        <label class="col-sm-2">
            {% if sortId.prev != book.id %}
            <td><a class="click-step"
                   data-order-date="publication_at{% if getBook.publication_at %}|{{ getBook.publication_at }}{% endif %}"
                   data-order-like="like_count{% if getBook.like_count %}|{{ getBook.like_count }}{% endif %}"
                   data-action="{{ path('show', { id: sortId.prev }) }}"
                   href="{{ path('show', { id: sortId.prev }) }}"><<< {{ sortId.prev }}</a>
                {% endif %}
        </label>
        <label class="col-sm-2">
            {% if sortId.next != book.id %}
            <td><a class="click-step"
                   data-order-date="publication_at{% if getBook.publication_at %}|{{ getBook.publication_at }}{% endif %}"
                   data-order-like="like_count{% if getBook.like_count %}|{{ getBook.like_count }}{% endif %}"
                   data-action="{{ path('show', { id: sortId.next }) }}"
                   href="{{ path('show', { id: sortId.next }) }}">>>> {{ sortId.next }}</a>
                {% endif %}
        </label>
    </div>

{% endblock body %}