{% extends "layout.html.twig" %}

{% block body %}

    <h1>Книга отзывов</h1>

    <div class="container book-table">
        <table class="table table-striped">
            <tr>
                <th>#</th>
                <th class="order-date{% if book.publication_at %} {{ book.publication_at }}{% endif %}"
                    data-order="publication_at"
                    data-sort="{% if book.publication_at %}{{ book.publication_at }}{% endif %}"
                    data-action="{{ path('books') }}"
                    style="cursor: pointer">Дата публикации
                </th>
                <th>Имя автора</th>
                <th>IP адрес автора</th>
                <th>Текст отзыва</th>
                <th class="order-like{% if book.like_count %} {{ book.like_count }}{% endif %}"
                    data-order="like_count"
                    data-sort="{% if book.like_count %}{{ book.like_count }}{% endif %}"
                    data-action="{{ path('books') }}"
                    style="cursor: pointer">Кол-во лайков
                </th>
                <th>Лайкнуть</th>
            </tr>
            {% for key, book in books %}
                <tr>
                    <td><a class="click-show" data-action="{{ path('show', { id: book.id }) }}"
                           href="{{ path('show', { id: book.id }) }}">{{ book.id }}</a>
                    </td>
                    <td>{{ book.publicationAt|date('Y-m-d H:i') }}
                    </td>
                    <td>{{ book.authorName }}
                    </td>
                    <td>{{ book.authorIp }}
                    </td>
                    <td>{{ book.message }}
                    </td>
                    <td>{{ book.likesCount }}
                    </td>
                    <td><a class="click-like" data-action="{{ path('likeip', { id: book.id }) }}"
                           href="{{ path('likeip', { id: book.id }) }}"><span class="glyphicon glyphicon-star"
                                                                              aria-hidden="true"></span></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock body %}
